h1, h2, p, a {
    font-family: roboto;
}



p {
    text-align: center;
}

.profile-text {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.img-circle {
    border-radius: 50%;
    zoom: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    margin-top: 30px;
}

.social {
    text-align: center;
    margin-top: 50px;
}

.fa {
    margin: 10px;
}

html,
.top-bar, 
.top-bar ul,
.menu-text,
li {
    background-color: white;
}

body {
    background: white;
}