body {
    margin: 0;
    padding: 0;
    background: #151515 url("") 0 0;
    color: #eaeaea;
    font: 16px;
    line-height: 1.5;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    height: 100%;
  }

html {
  height: 100%;
}

.wrapper{
  min-height: 100%;
    
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -90px;
}

.footer,
.push {
  height: 90px;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  color: #ffbb33;
}

p {
  color: #D5D5DE;
}

  
header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

header h1 {
  font-size: 32px;
  color: #f39c12;
  line-height: 1.5;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -2px;
  margin-top: 15px;
  margin-bottom: 7px;
}

h2 {
  letter-spacing: -1px;
  color: #ffbb33;
}

a {
  color: #a8ecf2;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

footer {
  text-align: center;
  margin-top: 0.8em;
  padding: 1.2em 0;
}

footer img {
  display: inline-block;
  width: 40px;
  height: auto;
  padding: 0 0.2em;
}

#img-circle {
  border-radius: 50%;
  height: 150px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
  display: none;
}

#remote {
  animation-name: blinker;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes blinker {  
  0% { opacity: 0.8; }
  25% { opacity: 0.9; }
  50% { opacity: 1; }
  75% { opacity: 0.9; }
  100% { opacity: 0.8; }
}

.no-text-decoration {
  text-decoration: none;
} 
